@model DepartmentViewModel
@{
    Layout="_AdminLayout";
    ProjectDb db = new ProjectDb();
    List<Department> Departs = db.Departments.ToList();
}
<form asp-action="AddDept" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="NameDepratment" class="control-label"></label>
        <input asp-for="NameDepratment" class="form-control" />
        <span asp-validation-for="NameDepratment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameManger" class="control-label"></label>
        <input asp-for="NameManger" class="form-control" />
        <span asp-validation-for="NameManger" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input required asp-for="Image"  class="form-control" />
        <span  asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>
<div class="d-flex justify-content-center">
    <h3 class="mt-4 mb-4 text-primary"style="border-bottom: 4px solid #007bff;">All Departments</h3>
</div>
<table class="table table-bordered ">
    <thead class="table-dark text-center">
        <th>Name Department</th>
        <th>Name Manger</th>
        <th>Description</th>
        <th>Image</th>
        <th>Options</th>
    </thead>
    <tbody >
        @foreach (var item in Departs)
   {
       <tr class="table table-hover"> 
           <td>
               @item.Name
           </td>
           <td>
               @item.NameManger
           </td>
           <td class="w-25">
               @item.Description
           </td>
           <td class="w-25">
               <img src="~/image/Department/@item.image">
           </td>
           <td class="text-center" >
               <a asp-action="EditDepartment" asp-route-id="@item.Id" class="btn btn-primary text-white">Edit</a>
               <a asp-action="DeletDept" asp-route-id="@item.Id" class="btn btn-danger text-white">Delet</a>
           </td>
       </tr>
   }
    </tbody>
</table>
@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
